<!DOCTYPE html>
<html>
<head>
	<title>RESTful Animal Site</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>

	<div class="ui menu">
		<div class="header item">
			<a href="/animals"><i class="paw icon"></i>Animals</a>
		</div>
		<a class="item" href="animals/new">Add Animal</a>

	</div>